body{

    @import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Fasthand&family=Lobster+Two&family=Open+Sans&family=Poppins:wght@400;500&family=Readex+Pro&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

    font-family: 'Poppins', sans-serif;
}
 a{
    text-decoration: none;
 }




 /* responsive for mobile devices */
 
 @media screen and (max-width: 667px) {

    .first, .d-flex{
        background-color: ;
        display: flex!important;
        flex-direction: column;
    }
   .second, .imran, img .photo, .card{
        display: block;
        background-color:;
        height: 15rem;
        width: 14rem;
    }   
    .eight{

        display: none;
    } 
    
   imran{
    display: flex;
    flex-direction: column-reverse;
   }
} 

 /* responsive for tab and tablet devices */

 @media  screen (min-width: 668px) and (max-width: 1023px) {

        
 }
    
 







    